# Python kesh fayllari
__pycache__/
*.py[cod]
*$py.class

# Muhit (Environment) fayllari (Xavfsizlik uchun!)
.env
venv/
env/

# Rasmlar (Siz yuklagan test rasmlari GitHubga chiqmasligi uchun)
static/avatars/*
!static/avatars/.gitkeep

# Ma'lumotlar bazasi 
*.db
*.sqlite3

# VS Code va boshqa tahrirlovchi sozlamalari
.vscode/
.idea/