services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: chontak_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/dat

  redis:
    image: redis:7-alpine
    container_name: ch_redis
    ports:
      - "6379:6379"
    restart: always
  
  backend:
    build:  .
    container_name: ch_back
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload




volumes:
  pgdata:








  